body{

}
.container{
	width: 950px;

	background-image : url('images/back.jpg');
	background-repeat: no-repeat;
	min-height:1500px;
}
div,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {

	outline:2px dashed red;
}

div.logo{
	min-height:160px;
}

nav.menu{
		min-height:160px;
}

div.slide{
	min-height:425px;
}

div.banner1{
	min-height:250px;
}

div.banner2{
	min-height:250px;
}

div.banner3{
	min-height:250px;
}

div.banner4{
	min-height:250px;
}

div.info{
	margin-top:10px;
}

div.info1{
	min-height:325px;
}

.info2{
	min-height:325px;
}

.footer{
	margin-top:20px;
}

div.footer1{
	min-height:250px;
}

div.footer2{
	min-height:250px;
}

div.footer3{
	min-height:250px;
}

div.footer4{
	min-height:250px;
}

.footer-copy{
	min-height:100px;
}