*{
	outline: 1px dashed red;
	border: 0;
	padding: 0;
	margin: 0;
	min-height: 0;
	min-width: 0;
}

.clear{
	clear:both;
}

div.container{
	width: 950px;
	min-height: 1455px;
	margin: 0 auto;
	background-image:url('images/background.jpg');
	background-repeat: no-repeat;
}

.header{
	min-height: 160px;
	padding-top: 1px;
	
}

.logo {
	float: left;
	width: 290px;
	margin-top: 33px;
	min-height: 93px;
}

.menu{
	width: 533px;
	margin-left: 407px;
	margin-top: 52px;
	min-height: 74px;
}

.green-line{
	margin-bottom: 50px;
	min-height: 20px;
}

.section{
}

.article{
}

.article-header{
	margin-top: 40px;
}

.article-date{
	float: left;
	width: 58px;
	min-height: 58px;
}

.article-title{
	margin-left: 65px;
	min-height: 58px;
}

.article-body{
	margin-top: 15px;
}

.article-photo{
	float: left;
	width: 180px;
	min-height: 140px;
}

.article-text{
	margin-left: 200px;
	margin-right: 10px;
	min-height: 140px;
}

section.page-number {
	min-height: 32px;
	padding: 40px 375px 60px;
}

footer.footer {
	padding-top: 1px;
}

footer div.box{
	float: left;
	width: 237px;
	min-height: 260px;
}

footer div.copyright{
	min-height: 35px;
	padding: 36px 330px 40px;
}
