.testimon{
	background-color: lightgray;
	width    : 300px;
	overflow : hidden;
	margin   : 0 auto;
}
span.ss{
	width:200px;
	height:100px;
}
span.cc{
	width:200px;
	height:100px;
}
#train{
	height:100px;
	width    : 500px; /* 2*200 + x*/
	position : relative;
	-webkit-transition : top 916ms;
}
#train > div{
	float : left;
}
#train > div > img{
	display : block;
}
ul.btn{
	list-style-type : none;
	margin-top:10px;
}
ul.btn li{
	width:30px;
	height:30px;
	background-color:#090;
	float: left;
	margin-right:5px;
	-webkit-transition : all 800ms;
}

ul.btn li:hover{
	background-color:#000;
	height: 30px;
	margin-top:-3px;
	-webkit-transition : all 200ms;
}
.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;

}
img{
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}