*,div{
	border: 0;
	padding: 0;
	margin: 0;
	min-height: 0;
	min-width: 0;
}

.clear{
	clear:both;
}

div.container{
	width: 950px;
	min-height: 1190px;
	margin: 0 auto;
	background-repeat: no-repeat;
}
.logo{
	min-height:160px;
	width:360px;
	background-image:url(images/bg.jpg);
}
.menu{
	background-image:url(images/bg.jpg);
	margin-left:361px;
	min-height:160px;
}
.gl{
	min-height:21px;
	width:950px;
	background-image: url(images/gl.jpg);

}

.box1{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;
}
.box2{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;
}
.box3{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;

}
.box4{
	height:145px;
	padding: 16px;
	width:215px;
	margin-left: 725px;

}
.secondrow{
	margin: 23px 0px 44px 0px;
}
section.secondrow div.box4{
	height:145px;
	padding: 16px;
	width:215px;
}
.box5{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;
}
.box6{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;
}
.box7{
	height:145px;
	padding: 16px;
	width:215px;
	float: left;
}
.box8{
	margin-left: 725px;
	height:145px;
	padding: 16px;
	width:215px;
}

.reallogo{
	width:288px;
	min-height:94px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	margin: 33px 0px 0px 8px;
}
.dropcap1{
	margin: 5px 2px 0px 28px;
}
.p{
	font-weight: bold;
	font-size: 100.1%;
}
.dropcap2{
	margin:5px 9px 5px 23px;

}
.dropcap3{
	margin: 5px 2px 0px 18px;

}
nav.menu ul{
	list-style-type: none;
}

nav.menu li{
	float: left;
	padding: 0 18px;
}

nav.menu li span{
	text-align: center;
	display: block;
	margin-bottom: 3px;
}

nav.menu li span.up-line{
	font-family: Tahoma;
	font-size: 16px;
	font-weight: bold;
	color: #ccc;
}

nav.menu li:hover span.up-line{
	color: #282;
}

nav.menu li span.down-line{
	font-family: Tahoma;
	font-size: 13px;
	font-weight: 300;
	color: #555;
}

nav.menu li:hover span.down-line{
	color: #aaa;
}

nav.menu li span.home-img{
	margin: 0 auto;
	width: 37px;
	height: 31px;
	background-image: url('images/home.png');
	background-repeat: no-repeat;
}

nav.menu li:hover span.home-img{
	background-image: url('images/home1.png');
}

nav.menu li span.news-img{
	margin: 0 auto;
	width: 37px;
	height: 31px;
	background-image: url('images/news.png');
	background-repeat: no-repeat;
}

nav.menu li:hover span.news-img{
	background-image: url('images/news1.png');
}

nav.menu li span.services-img{
	margin: 0 auto;
	width: 37px;
	height: 31px;
	background-image: url('images/services.png');
	background-repeat: no-repeat;
}

nav.menu li:hover span.services-img{
	background-image: url('images/services1.png');
}

nav.menu li span.products-img{
	margin: 0 auto;
	width: 37px;
	height: 31px;
	background-image: url('images/products.png');
	background-repeat: no-repeat;
}

nav.menu li:hover span.services-img{
	background-image: url('images/services1.png');
}

nav.menu li span.contacts-img{
	margin: 0 auto;
	width: 37px;
	height: 31px;
	background-image: url('images/contacts.png');
	background-repeat: no-repeat;
}

nav.menu li:hover span.contacts-img{
	background-image: url('images/contacts1.png');
}

nav.menu li a{
	text-align: center;
	text-decoration: none;
}
.footer-container{
	margin: 0 auto;
	direction: inherit;
	min-height: 231px;
	background-image: url(images/bg.jpg);
	background-repeat: repeat;
}

footer.footer {
	width: 950px;
	margin: 0 auto;
	direction: inherit;
	background-image: url(images/bg.jpg);
	padding-top: 1px;
}

footer.footer > div{    /*space between boxes and copyright panel*/
	padding-bottom: 30px;
} 

footer div.box{
	float: right;
	width: 215px;
	padding-left: 22px;
}

footer div.last-box{
	margin-right: 712px;
	padding-left: 22px;
}

footer div h1 {
	color: #060;;
	font-size: 16px;
	font-weight: bold;
	font-family: inherit;
	padding: 45px 10px 20px 10px;
}

footer.footer ul{
	list-style-type:none;
}

footer.footer ul li{
	display: block;
	border-top:1px dashed #444;
	padding:7px 14px 9px 0px;
	font-family: inherit;
	font-size: 13px;
	color: #aaa;
}

footer.footer ul li a{
	font-family: inherit;
	text-decoration: inherit;
	font-size: inherit;
	color: inherit;
}

footer.footer ul li a:hover{
	color: #5a0;
}

footer.footer ul li a:active{
	color: #5f0;
}

footer.footer ul li a:visited{
	color: #555;
}
/************************************************ copy-right's layout in all pages ******************************************************/
.copyright-container{
	margin: 0 auto;
	padding: 20px;
	direction: inherit;
	background-color: black;
	width:910px;
}

div.copyright{
	width: 950px;
	margin: 0 auto;
	min-height: 70px;
	direction: inherit;
}

div.copyright p{
	text-align: center;
	color: #777;
	font-family: inherit;
	font-size: inherit;
	line-height: 1.7;
}