
*{
	
	outline:1px dashed red;
}



.container{
	background-image: url('images/layout1.jpg');
	background-repeat:no-repeat;
	width:950px;
	min-height:1000px;
}
header.services{
	width:950px;
	min-height:180px;

}
header section.top{
	min-height: 160px;
	width:950px;
	padding-top: 1px;
}
header section.bottom{
	min-height:20px;
	width:950px;
}
section.content{
	width:950px;
	min-height:455px;

}
footer.services{
	min-height: 365px;
}
hgroup.header{
	margin-top: 30px;
	min-height: 100px;
}
nav{
	margin-top: 30px;
	min-height:100px;
}
section.content section.courses{
	min-height:105px;
	width: 950px;
}
section.content section.top{
	width:950px;
	min-height:150px;
}
section.content section.bottom{
	width:950px;
	min-height:200px;
}
section.content article{
	min-height:150px;
}
footer.services section.info section{
	min-height:250px;

}
footer.services address{
	min-height:250px;
}

footer section h1 {
	color: white;
	font-size: 27px;
	font-family: Tahoma;
	padding-top: 45px;
	padding-bottom: 20px;
	vertical-align:bottom;

}
footer.services ul{
	list-style-type:none;
}
footer.services ul li{
	display: block;
	border-top:1px solid #aaa;
	padding:7px 0px 7px 9px;
	color: white;
}

footer address h1 {
	color: white;
	font-size: 27px;
	font-family: Tahoma;
	padding-top: 45px;
	padding-bottom: 20px;
	vertical-align:bottom;

}
footer section.copyright{
	padding:45px 320px;
	min-height:85px;

}
footer.services section.copyright section{
	color:white;
	font-size: 17px;
	
}










