div{
	border:1px solid red;
}


div.container{
	background-image: url(images/backguid.png);
	width:1349px;
	height:1302px;
	background-repeat:no-repeat;
}
div.logo{
	height:160px;
	width:600px;
	background-image:url(images/bg.jpg);
}
div.menu{
	margin-left:600px;
	height:160px;
}
div.gl{
	height:15px;
	width:1349px;
	background-image: url(images/gl.jpg);

}
div.firstrow{
	margin: 30px 160px 10px 160px;
}
div.box1{
	height:300px;
	padding: 20px;
	width:300px;
	float: left;
}
div.box2{
	height:300px;
	padding: 20px;
	width:300px;
	float:left;
}
div.box3{
	height:300px;
	padding: 20px;
	margin-left:650px;

}
div.secondrow{
		margin: 0px 160px 10px 160px;
}
div.box4{
	height:300px;
	padding: 20px;
	width:300px;
	float: left;
}
div.box5{
	height:300px;
	padding: 20px;
	width:300px;
	float:left;
}
div.box6{
	height:300px;
	padding: 20px;
	margin-left:650px;
}
div.footer{
	height:380px;
	width:1349px;
}
div.firstrowf{
	margin: 30px 200px 30px 200px;
	height:194px;

}
div.tb1{
	height:194px;
	float: left;
	width:237px;
}
div.tb2{
	height:194px;
	float: left;
	width:237px;
}
div.tb3{
	height:194px;
	float: left;
	width:237px;
}
div.sub{
	margin-left:711;
}
div.secondrowf{
	height:127px;
}
div.reallogo{
	width:288px;
	height:94px;
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
	margin: 30px 0px 0px 200px;
}